.box{
    width: 100px;
    height: 80px;
    color: black;
    border-radius: 8px;
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
    margin: 2px;
}
.static{
    position: static;
    background-color: blue;
}
.relative{
    position: relative;
    background-color: aqua;  
    top: 10px;
    left: 300px;
}
.absolute{
    position: absolute;
    background-color: brown;
    top: 20px;
    right: 30px;
}
.sticky{
    position: sticky;
    background-color: chocolate;
    top: 10px;
   
}
.fixed{
    position: fixed;
    top: 20px;
    left: 300px;
}